= form_for(@gif) do |f|
  - if @gif.errors.any?
    #error_explanation
      %h2
        = pluralize(@gif.errors.count, "error")
        prohibited this gif from being saved:
      %ul
        - @gif.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :user_id
    %br/
    = f.text_field :user_id
  .field
    = f.label :category_id
    %br/
    = f.text_field :category_id
  .field
    = f.label :image
    %br
    = f.file_field :image
  .actions
    = f.submit