!!!
%html(lang="en")
  %head
    %title gifparty.club
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      #header
        %h1 gifparty.club
      #nav
        = render 'shared/nav'
      #content
        #gifs
          = yield